.city-card {
    height: 100%;
}

.city-card__header {
    display: flex;
    justify-content: space-between;
}

.delete-city {
    padding: 0;
    background-color: inherit;
    color: black;
}

.city-card__content {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.city-temp {
    margin: 0;
    font-weight: 400;
}

.weather-description {
    color: #717182;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}