.cities-header {
    display: flex;
    justify-content: space-between;
}

.cities-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.cities-item {
    min-height: 150px;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 1em;
}

.refresh-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.5em;
}

.refresh-btn:hover {
    background-color: #5c5b5b;
}

.info {
    margin-top: 2em;
    color: #717182;
}