@use './variables';

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;

    color-scheme: light dark;
    color: black;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: variables.$background-color;
}

.card {
    background-color: variables.$background-color;
    padding: 24px;
    border: 1px solid #b8b8b8;
    border-radius: 14px;
}

ul {
    list-style-type: none;
    flex-direction: column;
    display: flex;
    gap: 25px;
}