.registration-form {
    min-width: 800px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
    padding: 2em;
    border-radius: 14px;
}

.registration-form__header {
    display: flex;
    flex-direction: column;
    align-items: start;

    font-size: 1.2em;
    margin-bottom: 24px;
}

.form-title {
    margin: 0;
    font-weight: 600;
}

.form-subtitle {
    color: #717182;
}

label {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 5px;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1.5em;
}

input,
select {
    font-size: 1em;
    padding: 0.7em;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #F3F3F5;
    color: black;
}

input:hover,
select:hover {
    background-color: #efeff1;
}

input:focus, select:focus {
    outline: 1px solid #b1b1b1;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #F3F3F5 inset;
    background-color: #F3F3F5;
    -webkit-text-fill-color: black;
}

.input-error {
    outline: 1px solid red;
}
.input-error:focus {
    outline: 1px solid red;
}

.btn-submit {
    width: 100%;
    margin-top: 1em;
}

.btn-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}