.modal--closed {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  background-color: rgb(236, 236, 236);
  height: 100px;
  width: 50vw;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  background: white;
  border-radius: 8px;
  min-width: 400px;
  max-width: 600px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.btn__close {
  background-color: inherit;
  color: black;
  padding-right: 20px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
}