:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  font-size: 1em;
  padding: 0.7em;
  border: none;
  border-radius: 8px;
  background-color: #F3F3F5;
  color: black;
}

input:focus,
select:focus {
  outline: 1px solid #b1b1b1;
}

h3 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
}