.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3%;
    right: 3%;
    min-width: 280px;
    height: 50px;
    background-color: white;

    border-radius: 8px;
    gap: 8px;
    padding: 0.3em 0.5em;
}